@use 'mediaqueries';
@use 'tooltips';
@use 'vgrid';
@import "@devlop-ab/dialog/dist/css/sky.css";
// VARIABLES

:root {
  /* DIALOG */
  // --ok-button-color: pink;
  // --dialog-border-top: 0.5rem solid lime;
}

[data-dialog] {
  /* the whole theme can be changed by only changing the hue. */
  --theme-color-hue: 20;

  /* it's also possible to change the saturation and lightness. */
  --theme-color-saturation: 80%;
  --theme-color-lightness: 58%;
}
// UTILITY FIXES
html,
body {
  min-height: 100%;
}

#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}
.col-3,
.col-9 {
}
