/*STATIS PAGES*/

#body.view {
}
#body.view section .primary {
  order: 2;
}
#body.view section .secondary {
  order: 3;
}
#body.view section .tertiary {
  order: 1;
}

#body.hasId .form.entry {
  display: none;
}
#body section#read .tertiary {
  position: static;
}
#body section#read .secondary {
  flex-basis: 20%;
}
#body section#read .primary {
  border-right: none;
  border-left: none;
}

#body section#read .secondary .dataSection {
  /* border-left: none; */
  /* border-top: 1px dotted var(--line-color);
  border-left: 0px dotted var(--line-color); */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#body section#read #result img {
  /* width: 100%;
  height: 100%;
  object-fit: contain; */
}
/*
DISPLAY
*/

#body.view .dataDisplay {
  background: transparent;
}

#body.view section .primary {
  flex-basis: 66%;
}
#body.view section .secondary {
  flex-basis: 33%;
  padding-top: 0;
}

section#read.showMeta .imageColumn {
  flex-basis: 100%;
  /* background: pink; */
  /* max-height: 80vh; */
}

#body.view.noToken .tertiary,
#body.view.noToken .secondary,
#body.view.noToken .primary #readContent {
  visibility: hidden;
}

#body.view:not(.hasId) .tertiary,
#body.view:not(.hasId) .secondary {
  visibility: hidden;
}

#body.view .secondary {
  padding-top: 0;
}
#body.view .dataSection:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0, 0.2);
  padding-top: 0;
}

#body.view.glb .tokenImage3d {
  min-height: 600px;
}
/*
ARTISTS
*/
.alpha section {
  margin-bottom: -2px;
}
.alpha section > .primary {
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 0 !important;
}
.alpha .secondary,
.alpha .tertiary {
  display: none;
}
.alpha .gridWrap {
  -webkit-column-gap: 2px;
  -moz-column-gap: 2px;
  column-gap: 2px;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-width: 280px;
  -moz-column-width: 280px;
  column-width: 280px;
  -webkit-column-rule: 1px dotted rgba(0, 0, 0, 0.2);
  -moz-column-rule: 1px dotted rgba(0, 0, 0, 0.2);
  column-rule: 1px dotted rgba(0, 0, 0, 0.2);
}
.gridWrap .artistItem {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 1rem;
  break-inside: avoid;
  position: relative;
  z-index: 2;
}
.gridWrap .artistItem .previewImage {
  border: 1px solid #111;
  width: calc(100% - 1rem);
}

.gridWrap .artistItem img {
  width: 100%;
  height: auto;
}
.gridWrap .artistItem h5 {
  text-transform: capitalize;
}
.gridWrap .artistItem p {
  font-size: 0.875rem;
}

/* 
[short], [small] {
  grid-row: span 10;
  background-color: green;
}

[tall] {
  grid-row: span 25;
  background-color: crimson;
}

[taller] {
  grid-row: span 30;
  background-color: blue;
}

[tallest] {
  grid-row: span 35;
  background-color: gray;
} */
.artistItem.small {
}

/*
SEARCH*/
#searchRow {
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid var(--ui-color);
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#searchRow .form.entry {
  display: block;
  margin: 0 auto;
  flex-basis: 60%;
  border: none;
  padding: 0;
  background: transparent;
}

#searchRow .form.entry input.hero {
  line-height: 2rem;
}
#searchRow .form.entry .btn-large {
  line-height: 2rem;
  padding: 0.25rem;
}
